<h1>This is the Login page</h1>

<form action="/login" method="POST">
  <input type="text" name="username" id="" placeholder="username" />
  <input type="password" name="" id="password" placeholder="password" />
  <input type="submit" value="Submit" />
</form>
