<% include ../partials/header %>

<h1>NEW SIGHT PAGE</h1>

<form action="/cities/<%=city._id%>/sights" method="POST">
  <input type="text" name="sight[name]" id="" placeholder="name" />
  <input type="text" name="sight[image]" id="" placeholder="image URL" />
  <input type="text" name="sight[description]" id="" placeholder="description" />
  <input type="submit" value="Submit" />
</form>

<% include ../partials/footer %>